
.py-36{
    padding-top: 36px;
    padding-bottom: 36px;
}
@media(max-width:992px){
    .border-lg-0{
        border: none !important;
    }
    .navbar-menu2{
        background-color: $white;
    }
    .nav-link{
        border-bottom: 1px solid black !important;
    }
}
@media(min-width:992px) and( max-width:1200px){
    .py-40{
        padding-top: 40px !important;;
        padding-bottom: 40px !important;;
    }
}
@media(min-width:1200px){
    .py-40{
        padding-top: 40px !important;;
        padding-bottom: 40px !important;;
    }
    .py-38{
        padding-top: 38px !important;;
        padding-bottom: 38px !important;;
    }

}
.text-search{
    background-color: transparent;
}
.text-search-bg{
    background-color: transparent;
}

.footer{
    font-family: 'Noto Sans TC';
}