
.py-36{
    padding-top: 36px;
    padding-bottom: 36px;
}
@media(max-width:992px){
    .border-lg-0{
        border: none !important;
    }
    .navbar-menu2{
        background-color: $white;
    }
    .nav-link{
        border-bottom: 1px solid black !important;
    }
}
@media(min-width:992px) and( max-width:1200px){
    .py-59{
        padding-top: 59px !important;;
        padding-bottom: 59px !important;;
    }
    .py-51{
        padding-top: 51px !important;;
        padding-bottom: 51px !important;;
    }
}
@media(min-width:1200px){
    .py-38{
        padding-top: 38px !important;;
        padding-bottom: 38px !important;;
    }
}
.text-search{
    background-color: transparent;
}

