// .index__h1 {
//   color:#00cc99;
//   font-size: 20px;
//   font-weight: 400;
// }
.box{
  width: 64px;
  height: 64px;
  background: #fff;
}

.text-transparent {
  color: transparent; /* 文字顏色設定透明 */
}
.bg-1 {
  position: relative;
  background-image: url("../images/art29.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}

.bg-2 {
  position: relative;
  background-image: url("../images/art07.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}
.bg-3 {
  position: relative;
  background-image: url("../images/art08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}
.bg-4 {
  position: relative;
  background-image: url("../images/art04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}
.bg-5 {
  position: relative;
  background-image: url("../images/art05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}
.bg-6 {
  position: relative;
  background-image: url("../images/art06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 87px;
}
@media(max-width:992px)and (min-width:768px) {
  .mt-del {
    margin-top: 0 !important;
  }
}
// 遮罩
.mask:hover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.swiper {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media(max-width:576px){
  .swiper {
    padding: 0;
  }
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 439px;
  z-index: 8;
}
@media(max-width:576px){
  .swiper-slide {
    width: 300px ;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.box3{
  background: #FFFFFF;
  z-index: 5;
  opacity: 0.85;
  width: 307px;
  height: 96px;
  margin: 24px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}