// .index__h1 {
//   color:#00cc99;
//   font-size: 20px;
//   font-weight: 400;
// }
.box{
  width: 64px;
  height: 64px;
  background: #fff;
}

.swiper {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 439px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}