<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />


  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div
    class="border border-color border-bottom border-start-0 border-top-0 border-end-0 border-lg-0 mb-lg-6 sticky-top bg-light">
    <div class="container ">
      <div class="search-active py-3">
        <form class="d-flex align-items-center justify-content-between d-lg-none ">
          <span class="material-icons">
            chevron_left
          </span>

          <input class="form-control d-lg-block text-search border-0 border-bottom w-100" type="search"
            placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search" style="width:288px; height:24px">
          <span class="material-icons ms-4 me-4 search2">
            search
          </span>
        </form>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light py-0 sticky-top d-flex ">
        <a class="navbar-brand py-3 py-36 py-48 py-38 border-end me-0 border-lg-0 w-40 navber-logo" href="index.html">
          <img src="./assets/images/logo (1).svg" alt="" width="190" height="40">
        </a>
        <div class="d-flex">
          <form class="d-flex align-items-center justify-content-center d-lg-none">
            <!-- <input class="form-control d-none d-lg-block border-0" type="search" placeholder="搜尋作品名稱、藝術家名稱"
              aria-label="Search" style="width:288px; height:24px"> -->
            <span class="material-icons ms-4 me-4 search">
              search
            </span>
          </form>
          <button class="navbar-toggler navbar-menu" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center justify-content-end w-100">
            <li class="border-end py-lg-7 py-56 px-lg-8 border-lg-0 d-none d-lg-block">
              <form class="d-flex align-items-center justify-content-center">
                <input class="form-control" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search"
                  style="width:288px; height:24px">
                <span class="material-icons ms-4">
                  search
                </span>
              </form>
            </li>
            <li class="nav-item border-end border-lg-0">
              <a class="nav-link px-xxl-8 px-lg-2 py-lg-7 py-8 fw-bold" href="explore.html">探索</a>
            </li>
            <li class="nav-item border-end border-lg-0">
              <a class="nav-link  px-xxl-8 px-lg-2 py-lg-7 fw-bold" href="market-value.html">市值</a>
            </li>
            <li class="nav-item ps-xxl-8 ps-lg-2 d-none d-lg-block">
              <img src="./assets/images/wallet-solid.svg" alt="" width="27" height="24">
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>



  <%- contents %>

    <footer class="footer text-center py-4 fw-normal">
      © ART NFT. All Rights Reserved
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
      integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
      async></script>
    <script src="https://kit.fontawesome.com/0a85f36948.js" crossorigin="anonymous"></script>
    <script src="./assets/js/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>