.btn-triangle {
    position: relative;
    // border: 1px solid #000;
    padding: 8px 48px;
  }
  // 按鈕遮罩
.btn-triangle::after {
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px #E6553B solid;
  }
.btn-triangle:hover::after{
    border-bottom: 16px black solid;
  }
  
.btn-white{
    background-color: white;
    border:1px solid black;
  }
 .btn-white:hover{
    background-color: #E6553B;
    color: white !important;
  }
  
  .btn-border:hover{
    background-color: #E6553B;
    color: white;
    border: 1px solid black;
  }

.btn-triangle2 {
  position: relative;
  // border: 1px solid #000;
  padding: 8px 48px;
}
  // 按鈕遮罩
.btn-triangle2::after {
  content:"";
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 16px transparent solid;
  border-bottom: 16px transparent solid;
}
.btn-triangle2:hover::after{
  border-bottom: 16px #E6553B solid;
}
.text-color:hover{
  background-color: #E6553B;
  color: white;
  border: 1px solid black;
}

.btn-triangle4 {
  position: relative;
  // border: 1px solid #000;
    &:hover::before {
      position: absolute;
    content: "";
    right: 0;
    bottom: 0;
  // display: none;
    /*  三角形  */
    width: 0;
    height: 0;
    border-right: 16px solid #e6553b;
    border-top: 16px solid transparent;
    z-index: 5;
  }
}
